@font-face {
  src: url(./font/Roboto-Regular.ttf);
  font-family: 'Roboto';
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

body {
  margin: 0px;
}

body * {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto';
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  transition: transform .3s;
  cursor: pointer;
}

a:hover {
  background-color: aliceblue;
}

a {
  text-decoration: none;
  color: #000000;
}

li {
  list-style: none;
}

.kanban-board-botton {
  border-width: 0px;
  background-color: rgb(89, 126, 236);
  color: white;
  padding: 2px 10px;
  font-size: 18px;
  line-height: 21px;
  margin: 10px 10px 10px 20px;
}
